<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        پیشخوان مدیریت
    </h4>
    <p> 
        از طریق این پیشخوان می توانید کلیه محصولات، سفارشات و کاربران خود را مدیریت نمایید.
    </p>
</div>
<!-- / Content -->
